@using System.Data
@model System.Data.DataTable

<a href="@Url.Action("Crear", "producto")" class="btn btn-primary">Crear Nuevo Producto</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["Id"]</td>
                <td>@row["Nombre"]</td>
                <td>@row["Categoria"]</td>
                <td>@row["Precio"]</td>
                <td>@row["Fecha"]</td>
                <td>
                    <a href="@Url.Action("editar", "producto", new { id = row["Id"] } )" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("eliminar", "producto", new { id = row["id"] })" class="btn btn-danger" onclick="return confirmarEliminacion();">Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
   
</table>
<script>
    // Función para confirmar la eliminación
    function confirmarEliminacion() {
        return confirm("¿Está seguro de que desea eliminar este producto?");
    }
</script>

